---
import PokemonCard from "../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";
import MainLayout from "../layout/MainLayout.astro";
const title = "Pokemon Static  ";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
const data = (await resp.json()) as PokemonListResponse;

---

<MainLayout title={title}>
  <h1 class="text-3xl">Listado de Pokemon</h1>
  <hr />
  <section
  arial-label="Listado de Pokemon"
   class="grid grid-cols-1 md:grid-cols-5  gap-4 mt-5">
   {data.results.map(({name,url}) => 
    <PokemonCard name={name} url={url}></PokemonCard>
   )}
  </section>  
</MainLayout>
